*{
  font-family: 'Roboto', sans-serif;

}

.navbar{
  background: #a32136;
  border: none;
  max-height: 90px;
  padding: 20px;
}

.navbar .navbar-brand{
  color: #fff;
  padding-top: 0;
  margin-left: 0;
}

.bg-vermelho{
  background:#a32136;
  color: #fff; 
}

.title-vermelho{
  color: #a32136 !important;
}

.title-branco{
  color: #fff !important;
}

.bold{
  font-weight: 700;
}

.text-uppercase{
  text-transform: uppercase;
}

.jumbotron{
  margin: 0;
  padding-top: 150px;
  background: url('../img/banner.png');
  background-size:cover;
}

.box{
  padding-top: 50px;
  padding-bottom: 50px;
}

#navbar{
  color: #fff;
  padding-top: 15px;
}

#navbar ul li{
  display: inline-block;
  margin-right: 10px;
}

#navbar ul li i{
  background: #fff;
  padding: 8px;
  border-radius: 100%;
  line-height: 10px;
  color: #a32136;
}

#importancia{
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

#revisao{
  background: #e9e9e9;
  padding-top: 50px;
  padding-bottom: 50px;
}

#saude{
  padding-top: 100px;
  /* padding-bottom: 100px; */
}

#covid{
  padding-top: 50px;
  padding-bottom: 50px;
  background: url('../img/covid.png');
  background-size:cover;
}

.btn-center{
  display: block;
  margin: 0 auto;
}